body {
  text-align: center;
}

/* ==============================
             Search
============================== */

.search-bar {

}

/* ==============================
            Main View
============================== */

.main-view {
  min-height: 70vh;
  margin: 10px;
}

.activity-display {
  border: 1px solid black;
  min-height: 69vh;
}

.map {
  min-height: 50vh;
  border: 1px solid black;
}

.weather {
  min-height: 19vh;
  border: 1px solid black;
}

/* ==============================
          Activity List
============================== */

.activity-list > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.activity-list > .row > .activity-result {
  display: inline-block;
  float: none;
}

.activity-result { 
  color: #333;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 18px;
  border: 1px black solid;
  border-radius: 5px;
  margin-right: 5px;
}